<title>Users</title>
<h1>Users</h1>
<%= @user.name %>
<br>
<% @user.created_events.each do |event| %>
  <%= event.name %>
  <br>
  <%= event.description %>
  <br>
  <%= event.place %>
  <br>
  <%= event.time %>
<% end %>